{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}" >
    <link rel="icon" type="image/png" sizes="32x32"  href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'signup/signup.css' %}" rel="stylesheet" />


    <link href="{% static 'signup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'signup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'signup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'signup/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HNMLKEX919"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HNMLKEX919');
    </script>


   <!-- Zoho -->

   <script src="https://cdn-in.pagesense.io/js/jollysoftpvtltd/a47e25ab185c488aad59d3287830c80f.js" ></script>


</head>
<body>
    <main class="main" id="top">

      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container">
          <div class="row">
            <div class="row">
              <a class="navbar-brand" href="{% url 'HOME' %}"><h3>ApnaMD</h3></a>
            </div>
            <div class="row">
              <p> Clinically Tested AI Diagnostic </p>

            </div>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="{% url 'HOME' %}">Home</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{% url 'DISEASE_SELECTION1' %}">Symptom Check</a></li>
          
            </ul>
            {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="{% url 'LOGOUT' %}">Logout</a>
                    
        {% endif %}
          </div>
        </div>
      </nav>
    
      <section class="py-xxl-8 pb-0" id="home">
        <div class="bg-holder bg-size" style="background-image:url(/static/assets/img/gallery/hero-bg.png)  ;background-position:top center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/gallery/image (1).png' %}" alt="hero-header" /></div>
            <div class="col-md-85 col-xl-6 col-xxl-5 text-md-start text-center py-6">
                
                {% if context %}
                <input type="hidden" id="dictionary" value="{{ context }}" />

                <div class="row">
                    <!-- <div class="col-md-4"></div> -->
                    <div class="col-md-12">
                        <table class="center table   " style="background-color: white; text-align: center;" >
                            <thead class="thead-dark">
                              <tr>
                                
                                <th scope="col">Name</th>
                                <!-- <th scope="col">Values</th> -->
                                <th scope="col">Probability</th>
                              </tr>
                            </thead>
                            
                            
                            <tbody>
                              
                                {% for key,value in context.items %}
                                {% if forloop.first %}
                                <tr>
                                  <td>{{key}}</td>
                                  <td>{{value}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                              
                               
                            </tbody>
                         
                        </table>
                        <!-- <div class="p-8"></div> -->
                        <p class="p-4"><h4 style="margin: auto;" >Our AI module has predicted the most likely cause of your symptoms. However,the accuracy of the result is dependent on the quality and extent of information that we receive from you. <br> <br> Our module has also predicted 3 alternate diagnostic possibilities.<br>
                        Please enter your email ID to receive a list of top 3 possible diagnosis. </h4></p>

                    </div>
                    <div class="col-md-4"></div>
                    
                      <form class="row g-3"  method="post"  >
                        {% csrf_token %}
                        
                        
                        <div class="col-md-12">
                          <label class="form-label visually-hidden" for="inputEmail">Email</label>
                            <input class="form-control form-livedoc-control" id="inputEmail" type="email" name="email_me" placeholder="Provide your Email ID here" required="required" />
                        </div>
                        
                        <div class="col-6">
                          <div class="d-grid">
                            <button class="btn btn--radius-2 btn--blue ce" id="bbt" onclick="getpass1()" type="button">Submit!</button>
                            
                          </div>
                        </div>
                      </form>
                    
                 
                </div>



                {% endif %}
                
                {% if contextchestpain %}
                <input type="hidden" id="dictionary" value="{{ contextchestpain }}" />

                <div class="row">
                    <!-- <div class="col-md-4"></div> -->
                    <div class="col-md-12">
                        <table class="center table   " style="background-color: white; text-align: center;" >
                            <thead class="thead-dark">
                              <tr>
                                
                                <th scope="col">Name</th>
                                <!-- <th scope="col">Values</th> -->
                                <th scope="col">Probability</th>
                              </tr>
                            </thead>
                            
                            
                            <tbody>
                              
                                {% for key,value in contextchestpain.items %}
                                {% if forloop.counter <  3 %}
                                <tr>
                                  <td>{{key}}</td>
                                  <td>{{value}}</td>
                                </tr>
                                
                                  
                                {% endif %}
                                {% endfor %}
                              
                               
                            </tbody>
                         
                        </table>
                        <!-- <div class="p-8"></div> -->
                        <p class="p-4"><h4 style="margin: auto;" >Our AI module has predicted the most likely cause of your symptoms. However,the accuracy of the result is dependent on the quality and extent of information that we receive from you. <br> <br> Our module has also predicted 2 alternate diagnostic possibilities.<br>
                        Please enter your email ID to receive a list of top 4 possible diagnosis. </h4></p>

                    </div>
                    <div class="col-md-4"></div>
                    
                      <form class="row g-3"  method="post"  >
                        {% csrf_token %}
                        
                        
                        <div class="col-md-12">
                          <label class="form-label visually-hidden" for="inputEmail">Email</label>
                            <input class="form-control form-livedoc-control" id="inputEmail" type="email" name="email_me" placeholder="Provide your Email ID here" required="required" />
                        </div>
                        
                        <div class="col-6">
                          <div class="d-grid">
                            <button class="btn btn--radius-2 btn--blue ce" id="bbt" onclick="getpass1()" type="button">Submit!</button>
                            
                          </div>
                        </div>
                      </form>
                    
                 
                </div>



                {% endif %}

                {% if nodisease %}
                <div class="p-8"></div>
                <h1 class="fw-light font-base fs-6 fs-xxl-5"><strong>{{nodisease}}</strong> <br /></h1>
                
                {% endif %}
            
            </div>
          </div>
        </div>
      </section>


      {% if context3 %}
    {% for key,value in context3.items %}
    <!-- {% autoescape on %} -->
    <!-- <div  >
        <h4 style="background-color:Black; color: white; text-align: center;">{{key}}</h4>
        <p style="background-color: white; font-size: medium; ">{{value | linebreaksbr}}</p>
    </div> -->
    <!-- {% endautoescape %} -->
    {% endfor %}
    {% endif %}
    
      <!-- ============================================-->
  <!-- <section> begin ============================-->
  
  <!-- ============================================-->
          

          
    
          
    </main>
    <script>
        function getpass1(){
            // let name=document.getElementById("inputName").value;
            // let phone=document.getElementById("inputPhone").value;
            let email=document.getElementById("inputEmail").value;
            // let discription= document.getElementById("validationTextarea").value;
            let details= document.getElementById("dictionary").value;
            // var dictionary = JSON.parse($('#dictionary').val());

            
            $.ajax ({
                url:"{% url 'contactus' %}",
                type:"get",
                // data : {name:name,phone:phone,email:email,discription:discription,details:details},
                data : {email:email,details:details},
                success:function(data){
                  if (data.status == "sent"){
                    alert("Please Check your email for detail!");
                    window.location = "http://apnamd.in/";
                      
                  }
                  else if (data.status == "Error"){
                    alert(" Check Your Email is it correct ? | Please Check your internet connection ");
                    $("#result").html("<p class='alert alert-danger'>Please check Your internet Conectivity</p>")
                  }
                
                }
            })
            
           
        }
        
    </script>
    <script>
        function checkuser(){
          let un = document.getElementById("checkname").value;
          
          $.ajax ({
            url:"{% url 'contactus' %}",
            type:"get",
            data : {user_n:un},
            success:function(data){
              if (data== "Exists"){
                $("#result1").html("This user name already taken").addClass("text-danger");
                $("#checkname").addClass("alert alert-danger");
                $("#checkname").css("border","1px solid red");
                $("#bbt").attr("disabled","disabled");
              
    
              }
              else{
                $("#result1").html("");
                $("#checkname").css("border","1px solid green");
                $("#checkname").removeClass("alert alert-danger");
                $("#bbt").removeAttr("disabled");
              
               
                
              }
            }
          })
        }
      </script>

    <script src="{% static 'signup/vendor/jquery/jquery.min.js' %}"></script>
    
    <!-- Vendor JS-->
    <script src="{% static 'signup/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'signup/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'signup/vendor/datepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'signup/global.js' %}"></script>
    <!-- <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>
 -->

</body>
</html>