{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}" >
    <link rel="icon" type="image/png" sizes="32x32"  href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'login.css' %}" rel="stylesheet" />


    <link href="{% static 'mcqs.css' %}" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HNMLKEX919"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HNMLKEX919');
    </script>


   <!-- Zoho -->

   <script src="https://cdn-in.pagesense.io/js/jollysoftpvtltd/a47e25ab185c488aad59d3287830c80f.js" ></script>
</head>
<body>
    <main class="main" id="top">

        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <a class="navbar-brand" href="{% url 'HOME' %}"><h3>ApnaMD</h3></a>
                    </div>
                    <div class="row">
                      <p> Clinically Tested AI Diagnostic </p>
        
                    </div>
                  </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
              <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="{% url 'HOME' %}">Home</a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="{% url 'DISEASE_SELECTION1' %}">Symptom Check</a></li>

                    <!-- <li class="nav-item px-2"><a class="nav-link" href="#SymptomCheck">Symptom Check</a></li> -->
                    
                </ul>
                {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="{% url 'LOGOUT' %}">Logout</a>
                        
            {% endif %}
              </div>
            </div>
          </nav>
        
          <section class="py-xxl-8 pb-0" id="home">
            <div class="bg-holder bg-size" style="background-image:url(/static/assets/img/gallery/hero-bg.png)  ;background-position:top center;background-size:cover;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row min-vh-xl-100 min-vh-xxl-25">
                    <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/gallery/image (1).png' %}" alt="hero-header" /></div>
                        <div class="col-md-85 col-xl-6 col-xxl-5 text-md-start text-center py-6">
                        
                            {% if context %}
                            <form action="" method="POST" >
                                {% csrf_token %}
                                    {% for i in context %}
                                        <div class="container mt-sm-5 my-1">
                                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                                                <div class=" h5"><b>{{i.question_id}}) {{i.question_data}}</b></div>
                                                {% if i.question_id == 1 %}

                                                            {% for j in i.option %}
                                                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="">
                                                                    <input type="checkbox" name="checks[]" id="{{j.options_id}}" value="{{j.options_id}}" > <span class=""></span>
                                                                    <label for="{{j.options_id}}">{{j.options_data}}</label>
                                                                </div>
                                                             {% endfor %}

                                                {% else %}
                                                            {% for j in i.option %}
                                                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="options">
                                                                    <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_id}}" > <span class="checkmark"></span></label> 
                                                                    
                                                                </div>
                                                             {% endfor %}
                                                {% endif %}

                                            </div> 
                                        </div> 
                
                                    {% endfor %}
                                    
                                   <div class="container mt-sm-5 my-1">
                                        <div class="question ml-sm-5 pl-sm-5 pt-2">
                                        <div class="d-flex align-items-center pt-3">
                                            
                                            <div class="ml-auto mr-sm-5  " >   <input style="color: black; background-color: rgb(250, 248, 243);" type="submit" class="btn btn-outline-light nav-link btn btn-block" value="Next"  >
                                            </div>
                                        </div>
                                    </div>
                            </form>

                            {% endif %}

                            {% if generalquestionsblood %}
                            <form action="" method="POST" >
                                {% csrf_token %}
                                    {% for i in generalquestionsblood %}
                                        <div class="container mt-sm-5 my-1">
                                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                                                <div class=" h5"><b>{{i.question_id}}) {{i.question_data}}</b></div>
                                                
                                                    {% for j in i.option %}
                                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="options">
                                                            <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_id}}" > <span class="checkmark"></span></label> 
                                                            
                                                        </div>
                                                        {% endfor %}
                                                

                                            </div> 
                                        </div> 
                
                                    {% endfor %}
                                    
                                   <div class="container mt-sm-5 my-1">
                                        <div class="question ml-sm-5 pl-sm-5 pt-2">
                                        <div class="d-flex align-items-center pt-3">
                                            
                                            <div class="ml-auto mr-sm-5  " >   <input style="color: black; background-color: rgb(250, 248, 243);" type="submit" class="btn btn-outline-light nav-link btn btn-block" value="Submit"  >
                                            </div>
                                        </div>
                                    </div>
                            </form>

                            {% endif %}

                            {% if generalquestions %}
                            <form action="" method="POST" >
                                {% csrf_token %}
                                    {% for i in generalquestions %}
                                        <div class="container mt-sm-5 my-1">
                                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                                                <div class=" h5"><b>{{i.question_id}}) {{i.question_data}}</b></div>
                                                
                                                    {% for j in i.option %}
                                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="options">
                                                            <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_id}}" > <span class="checkmark"></span></label> 
                                                            
                                                        </div>
                                                        {% endfor %}
                                                

                                            </div> 
                                        </div> 
                
                                    {% endfor %}

                                    
                                   <div class="container mt-sm-5 my-1">
                                        <div class="question ml-sm-5 pl-sm-5 pt-2">
                                        <div class="d-flex align-items-center pt-3">
                                            
                                            <div class="ml-auto mr-sm-5  " >   <input style="color: black; background-color: rgb(250, 248, 243);" type="submit" class="btn btn-outline-light nav-link btn btn-block" value="Next"  >
                                            </div>
                                        </div>
                                    </div>
                            </form>

                            {% endif %}
                            {% if Dementiaquestions %}
                                    <form action="" method="POST" >
                                        {% csrf_token %}
                                            {% for i in Dementiaquestions %}
                                                <div class="container mt-sm-5 my-1">
                                                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                                                        <div class=" h5"><b>{{i.question_id}}) {{i.question_data}}?</b></div>
                                                        {% if i.question_id == 15 %}
        
                                                                    {% for j in i.option %}
                                                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="">
                                                                            <input type="checkbox" name="checks[]" value="{{j.options_id}}" >{{j.options_data}} <span class=""></span><br>
                                                                            
                                                                        </div>
                                                                     {% endfor %}
                                                        {% elif i.question_id == 14 %}
                                                            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 ">
                                                                <!-- <label for="fname">Type here word as it is:</label>
                                                                <input type="text" id="fname" name="fname" value=""><br><br> -->
                                        
                                                            <label for="fname1"></label> 
                                                                <input type="text" id="fname1" name="fname1" value="WORLD" disabled><br><br>
                                        
                                                                <!-- <label>first </label>
                                                                <input type="text"  name="14q1"/> -->
                                                                                            
                                                            <label>Type here above word in backward order </label>
                                                                <input type="text"  name="14"/>
                                                            
                                                            </div>       
                                                        {% elif i.question_id == 16 %}
                                                        <div>
                            
                                                            <img style="width:200px;height:200px; align-items: center;" src="/static/images/wrist-watch.jpg" alt="Third slide">
                                                        </div>
                                                            {% for j in i.option %}
                                                            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="">
                                                                <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_data}}" > <span class="checkmark"></span></label> 
                                                                
                                                            </div>
                                                            {% endfor %}

                                                        {% elif i.question_id == 17 %}
                                                            <div>
                                
                                                                <img style="width:200px;height:200px; align-items: center;" src="/static/images/natraj-pencil.jpg" alt="Third slide">
                                                            </div>
                                                                {% for j in i.option %}
                                                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="">
                                                                    <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_data}}" > <span class="checkmark"></span></label> 
                                                                    
                                                                </div>
                                                                {% endfor %}
                                                        
                                                        {% elif i.question_id == 18 %}
                                                        
                                                            {% for j in i.option %}
                                                            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="">
                                                                <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_data}}" > <span class="checkmark"></span></label> 
                                                                
                                                            </div>
                                                            {% endfor %}
                                                                <label for="fname">Write any sentence here:</label>
                                                                <input type="text" id="fname" name="fname" value=""><br><br>
                                        
                                                        {% else %}
                                                                    {% for j in i.option %}
                                                                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 " id="options">
                                                                            <label class="options">{{j.options_data}}      <input type="radio" name="{{i.question_id}}" value="{{j.options_data}}" > <span class="checkmark"></span></label> 
                                                                            
                                                                        </div>
                                                                     {% endfor %}
                                                        {% endif %}
        
                                                    </div> 
                                                </div> 
                        
                                            {% endfor %}
                                            
                                           <div class="container mt-sm-5 my-1">
                                                <div class="question ml-sm-5 pl-sm-5 pt-2">
                                                <div class="d-flex align-items-center pt-3">
                                                    
                                                    <div class="ml-auto mr-sm-5  " >   <input style="color: black; background-color: rgb(250, 248, 243);" type="submit" class="btn btn-outline-light nav-link btn btn-block" value="Next"  >
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
        
                                    {% endif %}
                                    
                        </div>
                    </div>
                </div>  
            </div>

            
                
       
          </section>

          
    </main>
</body>
</html>